@font-face {
  font-family: Aller;
  src: url("../fonts/Aller_Bd.ttf");
  font-weight: 700; }

@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  margin: 0;
  color: black; }

.red-text {
  color: #f13e4b; }

.social-btns,
.phone-img,
.mail-img,
.img-3,
.img-2,
.img-1 {
  display: inline-block;
  background: url("png.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.social-btns {
  background-position: -10px -0px;
  width: 194px;
  height: 15px; }

.phone-img {
  background-position: -10px -25px;
  width: 42px;
  height: 42px; }

.mail-img {
  background-position: -62px -25px;
  width: 16px;
  height: 12px; }

.img-3 {
  background-position: -88px -25px;
  width: 15px;
  height: 12px; }

.img-2 {
  background-position: -113px -25px;
  width: 12px;
  height: 12px; }

.img-1 {
  background-position: -135px -25px;
  width: 9px;
  height: 13px; }

.page-header__wrapper {
  width: 1170px;
  margin: 0 auto;
  min-height: 92px;
  background: white; }
  .page-header__wrapper::after {
    content: "";
    display: table;
    clear: both; }

.page-header__logo {
  float: left;
  margin-left: 12px; }
  .page-header__logo img {
    width: 245px;
    height: 86px; }

.social-links {
  min-height: 41px;
  width: 100%;
  font-size: 0;
  background: black url("../img/bg-social-links.jpg"); }

.social-links__wrapper {
  width: 1170px;
  margin: 0 auto; }
  .social-links__wrapper::after {
    content: "";
    display: table;
    clear: both; }

.social-links__btn {
  float: right;
  margin-left: 23px;
  margin-top: 13px;
  width: 10px;
  height: 10px;
  background: red; }

.main-nav__items {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0; }
  .main-nav__items::after {
    content: "";
    display: table;
    clear: both; }

.main-nav__item {
  display: inline-block; }

.main-nav__link {
  display: block;
  padding: 35px 0 33px;
  padding-right: 59px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: black;
  letter-spacing: 0.5px;
  text-decoration: none; }

.main-nav__link--last {
  padding-right: 0; }

.home {
  padding-top: 69px;
  height: 623px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E93C49 url("../img/bg-home.jpg"); }

.home__wrapper {
  width: 1170px;
  margin: 0 auto; }

.home__title {
  display: block;
  padding-left: 10px;
  font-family: Aller, sans-serif;
  font-weight: 700;
  font-size: 48.4px;
  line-height: 58px;
  color: white;
  letter-spacing: -0.025em; }

.about {
  padding: 50px 0;
  padding-bottom: 88px;
  width: 1170px;
  margin: 0 auto;
  width: 1200px; }

.about__big-title {
  display: block;
  padding: 0;
  padding-left: 12px;
  margin-bottom: 10px;
  font-family: MyriadProBold, sans-serif;
  font-size: 40.6px;
  line-height: 54px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center; }

.about__items {
  margin: 0;
  padding: 0;
  list-style: 0;
  font-size: 0; }
  .about__items::after {
    content: "";
    display: table;
    clear: both; }

.about__item {
  position: relative;
  float: left;
  margin: 0;
  margin-right: 100px;
  padding: 0;
  padding-top: 243px;
  width: 225px;
  text-align: center; }
  .about__item ::before {
    content: "";
    position: absolute;
    z-index: 4;
    top: 30px;
    left: 7px;
    width: 210px;
    height: 210px;
    border-radius: 105px;
    background: white;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2); }

.about__item--last {
  margin-right: 0; }

.about__item--red::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 40px;
  left: 17px;
  width: 190px;
  height: 190px;
  border-radius: 95px;
  background: #d91f1f; }

.about__item--black::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 40px;
  left: 17px;
  width: 190px;
  height: 190px;
  border-radius: 95px;
  background: black; }

.about__title {
  margin-bottom: 21px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.01em; }

.about__text {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.025; }

.causes {
  margin: 0;
  padding: 0;
  height: 544px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/bg-causes.jpg") no-repeat left top, url("../img/bg-red.jpg") no-repeat right top; }

.causes__wrapper {
  width: 1170px;
  margin: 0 auto; }
  .causes__wrapper::after {
    content: "";
    display: table;
    clear: both; }

.causes__description {
  float: right;
  padding: 0;
  padding-top: 97px;
  width: 480px; }

.causes__title {
  margin: 0;
  margin-bottom: 3px;
  font-family: MyriadProBold, sans-serif;
  font-size: 40.6px;
  line-height: 54px;
  letter-spacing: 0.06em;
  color: white;
  text-transform: uppercase; }

.causes__text {
  margin: 0;
  margin-bottom: 22px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 20.5px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: white; }

.btn {
  display: inline-block;
  padding: 13px 72px;
  margin-top: 8px;
  background: #282828;
  border-radius: 24px;
  font-family: MyriadProRegular, sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: white;
  text-decoration: none; }

.training {
  width: 1170px;
  margin: 0 auto;
  padding-top: 38px; }
  .training::after {
    content: "";
    display: table;
    clear: both; }

.training__title {
  display: block;
  padding: 0;
  padding-left: 12px;
  margin-bottom: 53px;
  font-family: MyriadProBold, sans-serif;
  font-size: 40.6px;
  line-height: 54px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center; }

.training__item {
  float: left;
  width: 367px;
  padding-bottom: 31px;
  margin-left: 7px;
  margin-right: 29px;
  background: #f13e4b url("../img/bg-red.jpg");
  text-align: center; }

.training__img {
  margin-bottom: 45px; }

.training__item--second {
  margin-right: 0; }

.training__item--last {
  float: right;
  margin-right: -7px; }

.training__text {
  font-family: MyriadProSemiBold, sans-serif;
  font-size: 24.3px;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: center;
  color: white; }

.training__item .btn {
  padding: 9px 62px;
  margin-top: 6px; }
