@font-face {
  font-family: Aller;
  src: url("../fonts/Aller_Bd.ttf");
  font-weight: 700; }

@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  margin: 0;
  color: black; }

.red-text {
  color: #f13e4b; }

.social-btns,
.phone-img,
.mail-img,
.img-3,
.img-2,
.img-1 {
  display: inline-block;
  background: url("png.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.social-btns {
  background-position: -10px -0px;
  width: 194px;
  height: 15px; }

.phone-img {
  background-position: -10px -25px;
  width: 42px;
  height: 42px; }

.mail-img {
  background-position: -62px -25px;
  width: 16px;
  height: 12px; }

.img-3 {
  background-position: -88px -25px;
  width: 15px;
  height: 12px; }

.img-2 {
  background-position: -113px -25px;
  width: 12px;
  height: 12px; }

.img-1 {
  background-position: -135px -25px;
  width: 9px;
  height: 13px; }

.page-header__wrapper {
  width: 1170px;
  margin: 0 auto;
  min-height: 92px;
  background: white; }
  .page-header__wrapper::after {
    content: "";
    display: table;
    clear: both; }

.page-header__logo {
  float: left;
  margin-left: 12px; }
  .page-header__logo img {
    width: 245px;
    height: 86px; }

.social-links {
  min-height: 41px;
  width: 100%;
  font-size: 0;
  background: #3b3c3d url("../img/pattern-2.png"); }

.social-links__wrapper {
  width: 1170px;
  margin: 0 auto; }
  .social-links__wrapper::after {
    content: "";
    display: table;
    clear: both; }

.social-links__container {
  float: right; }

.social-links__btn {
  display: inline-block;
  margin-left: 21px;
  margin-top: 12px;
  height: 16px; }

.social-links__btn--fb {
  background: url("../img/sprite.png");
  background-position: -10px 0px;
  width: 10px; }

.social-links__btn--tw {
  background: url("../img/sprite.png");
  background-position: -41px -0px;
  width: 15px; }

.social-links__btn--in {
  background: url("../img/sprite.png");
  background-position: -78px -0px;
  width: 13px; }

.social-links__btn--inst {
  background: url("../img/sprite.png");
  background-position: -114px -0px;
  width: 14px; }

.social-links__btn--v {
  background: url("../img/sprite.png");
  background-position: -152px -0px;
  width: 13px; }

.social-links__btn--vk {
  background: url("../img/sprite.png");
  background-position: -187px 0;
  width: 17px; }

.main-nav__items {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0; }
  .main-nav__items::after {
    content: "";
    display: table;
    clear: both; }

.main-nav__item {
  display: inline-block; }

.main-nav__link {
  display: block;
  padding: 35px 0 33px;
  padding-right: 59px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: black;
  letter-spacing: 0.5px;
  text-decoration: none; }

.main-nav__link--last {
  padding-right: 0; }

.home {
  padding-top: 69px;
  height: 623px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E93C49 url("../img/bg-home.jpg"); }

.home__wrapper {
  width: 1170px;
  margin: 0 auto; }

.home__title {
  display: block;
  padding-left: 10px;
  font-family: Aller;
  font-weight: 700;
  font-size: 48.4px;
  line-height: 58px;
  color: white;
  letter-spacing: -0.025em; }

.about {
  padding: 50px 0;
  padding-bottom: 88px;
  width: 1170px;
  margin: 0 auto;
  width: 1200px; }

.about__big-title {
  display: block;
  padding: 0;
  padding-left: 12px;
  margin-bottom: 10px;
  font-family: MyriadProBold, sans-serif;
  font-size: 40.6px;
  line-height: 54px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center; }

.about__items {
  margin: 0;
  padding: 0;
  list-style: 0;
  font-size: 0; }
  .about__items::after {
    content: "";
    display: table;
    clear: both; }

.about__item {
  position: relative;
  float: left;
  margin: 0;
  margin-right: 100px;
  padding: 0;
  padding-top: 243px;
  width: 225px;
  text-align: center; }
  .about__item ::before {
    content: "";
    position: absolute;
    z-index: 4;
    top: 30px;
    left: 7px;
    width: 210px;
    height: 210px;
    border-radius: 105px;
    background: white;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2); }

.about__item--last {
  margin-right: 0; }

.about__item--red::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 40px;
  left: 17px;
  width: 190px;
  height: 190px;
  border-radius: 95px;
  background: #d91f1f; }

.about__item--black::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 40px;
  left: 17px;
  width: 190px;
  height: 190px;
  border-radius: 95px;
  background: black; }

.about__title {
  margin-bottom: 21px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.01em; }

.about__text {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.025;
  color: #7a7a7a; }

.causes {
  margin: 0;
  padding: 0;
  height: 544px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/bg-causes.jpg") no-repeat left top, #f13e4b url("../img/pattern-2.png"); }

.causes__wrapper {
  width: 1170px;
  margin: 0 auto; }
  .causes__wrapper::after {
    content: "";
    display: table;
    clear: both; }

.causes__description {
  float: right;
  padding: 0;
  padding-top: 97px;
  width: 480px; }

.causes__title {
  margin: 0;
  margin-bottom: 3px;
  font-family: MyriadProBold, sans-serif;
  font-size: 40.6px;
  line-height: 54px;
  letter-spacing: 0.06em;
  color: white;
  text-transform: uppercase; }

.causes__text {
  margin: 0;
  margin-bottom: 22px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  line-height: 20.5px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: white; }

.btn {
  display: inline-block;
  padding: 13px 72px;
  margin-top: 8px;
  background: #282828;
  border-radius: 24px;
  font-family: MyriadProRegular, sans-serif;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: white;
  text-decoration: none; }

.training {
  width: 1170px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 118px; }
  .training::after {
    content: "";
    display: table;
    clear: both; }

.training__title {
  display: block;
  padding: 0;
  padding-left: 12px;
  margin-bottom: 53px;
  font-family: MyriadProBold, sans-serif;
  font-size: 40.6px;
  line-height: 54px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center; }

.training__item {
  float: left;
  width: 367px;
  padding-bottom: 31px;
  margin-left: 7px;
  margin-right: 29px;
  background: #f13e4b url("../img/pattern-2.png");
  text-align: center; }

.training__img {
  margin-bottom: 45px; }

.training__item--second {
  margin-right: 0; }

.training__item--last {
  float: right;
  margin-right: -7px; }

.training__text {
  font-family: MyriadProSemiBold, sans-serif;
  font-size: 24.3px;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-align: center;
  color: white; }

.training__item .btn {
  padding: 9px 62px;
  margin-top: 6px; }

.news {
  padding: 20px 0;
  height: 544px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f13e4b url("../img/bg-news.jpg"); }

.news__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding: 0 32px; }

.news__title {
  display: block;
  margin-bottom: 53px;
  font-family: Montserrat, sans-serif;
  font-size: 40.6px;
  font-weight: 800;
  line-height: 54px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: white; }

.news__item {
  position: relative;
  padding: 28px 50px 0 100px;
  margin: 0 36px;
  min-height: 226px;
  width: 1106px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  border-radius: 20px; }
  .news__item::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 43px;
    width: 45px;
    height: 31px;
    background: url("../img/quotes.png"); }
  .news__item::after {
    content: "";
    position: absolute;
    top: 225px;
    left: 358px;
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent; }

.news__text {
  margin-bottom: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #8b8b8b; }

.news__autor {
  margin-left: 428px;
  font-family: MyriadProRegular, sans-serif;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center; }

.news__photo {
  position: absolute;
  top: 272px;
  left: 363px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background: white; }
  .news__photo::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 54px;
    height: 54px;
    border-radius: 27px;
    background: #000; }

.contact {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  height: 160px; }

.contact__wrapper {
  position: absolute;
  top: 100px;
  padding: 38px 0;
  height: 114px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f13e4b url("../img/pattern-2.png"); }

.contact__text {
  display: inline-block;
  padding-left: 105px;
  padding-right: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white; }
  .contact__text::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 40px;
    width: 42px;
    height: 42px;
    background: url("../img/sprite.png");
    background-position: -10px -25px; }

.contact__number {
  font-family: MyriadProBold, sans-serif;
  font-size: 43px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: white; }

.contact__form {
  float: right; }

.contact__mail {
  padding: 0;
  width: 316px;
  height: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  border: none; }

.contact__btn {
  padding: 9px 36px;
  margin-top: 5px;
  margin-right: 25px;
  margin-left: 20px;
  border: none;
  letter-spacing: 0.08em; }

.page-footer {
  min-height: 760px;
  background-color: #091b27;
  background: #091b27 url("../img/pattern-2.png");
  background-color: #091b27; }

.page-footer__wrapper {
  width: 1170px;
  margin: 0 auto;
  padding-top: 150px;
  color: white; }

.page-footer__mission {
  float: left;
  width: 350px;
  margin-right: 85px; }

.page-footer__title {
  display: block;
  margin-bottom: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400px;
  line-height: 19px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.08em; }

.page-footer__title--big {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 9px;
  font-family: Montserrat, sans-serif;
  font-size: 32.7px;
  font-weight: 800px;
  line-height: 19px; }

.page-footer__text {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400px;
  line-height: 18px;
  margin-bottom: 18px; }

.page-footer__nav {
  float: left;
  width: 160px;
  padding: 0;
  margin: 0;
  margin-right: 63px; }

.page-footer__links {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  list-style: none; }

.page-footer__link {
  padding: 9px 0;
  margin: 0;
  letter-spacing: 0.09em; }

.page-footer__link a {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 0;
  padding-left: 32px;
  margin: 0; }
  .page-footer__link a::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 13px;
    height: 13px;
    border-radius: 7px;
    background: white; }
  .page-footer__link a::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border: 2px solid black;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.page-footer__gallery {
  float: left;
  width: 151px;
  font-size: 0; }

.page-footer__img-wrapper {
  display: inline-block;
  margin: 0;
  margin-bottom: 7px;
  width: 72px;
  height: 67px;
  background: #f13e4b; }

.page-footer__img-wrapper:nth-child(2n) {
  margin-right: 7px; }

.page-footer__contacts {
  float: right;
  width: 275px; }
  .page-footer__contacts .page-footer__title {
    margin-bottom: 19px; }
  .page-footer__contacts a {
    text-decoration: none;
    color: white; }

.page-footer__adress,
.page-footer__phone,
.page-footer__email {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 0;
  padding-left: 54px;
  border-bottom: 2px dotted #394d5b; }
  .page-footer__adress::before,
  .page-footer__phone::before,
  .page-footer__email::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 15px;
    width: 27px;
    height: 27px;
    border-radius: 14px;
    background: #f13e4b url("../img/sprite.png"); }

.page-footer__adress::before {
  background-position: -127px -18px; }

.page-footer__phone::before {
  background-position: -107px -17px; }

.page-footer__email::before {
  background-position: -82px -17px; }

.page-footer__email {
  border-bottom: none; }

.page-footer__contact-title {
  display: block;
  padding: 4px 0;
  font-family: MyriadProSemiBold, sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em; }

.page-footer__contact-text {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em; }

.page-footer__coopyright {
  clear: both;
  padding-top: 59px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.06em; }
