.btn {
	display: inline-block;
	padding: 13px 72px;
	margin-top: 8px;
	background: #282828;
	border-radius: 24px;
	font-family: MyriadProRegular, sans-serif;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: white;
	text-decoration: none;
}