.home {
	padding-top: 69px;
	height: 623px;
	box-sizing: border-box;
	background: #E93C49 url("../img/bg-home.jpg");
}

.home__wrapper {
	@include container;
}

.home__title {
	display: block;
	padding-left: 10px;
	font-family: aller, sans-serif;
	font-weight: 700;
	font-size: 48.4px;
	line-height: 58px;
	color: white;
	letter-spacing: -0.025em;

}